body {
  background-image: url("http://www.toca-ch.com/data/walls/30/22213382.jpg");
  background-size: cover;
}

.row11 {
  text-align: center;
}

.row22 {
  text-align: center;
}

.row33 {
  text-align: center;
}

.row44 {
  text-align: center;
}

.row55 {
  text-align: center;
}

.row66 {
  text-align: center;
}

h1 {
  color: white;
}
